html {
  font-family: Lato;
  letter-spacing: 0.6;
  user-select: none;
}
body {
  background-color: rgba(129, 128, 228, 0.276);
  padding: 50px;
  letter-spacing: 0.6;
}

[type="text"] {

  margin-bottom: 20px;
  padding: 8px;
  padding-left: 10px;
  border: hidden;
  letter-spacing: 1px;
  color: gray;
  width: 80%;
}

[type="search"] {

  margin-bottom: 20px;
  padding: 8px;
  padding-left: 10px;
  border: hidden;
  letter-spacing: 1px;
  color: gray;
  width: 100%;
}



.formStyle0{
  margin-top: 50px;
  border: 1px solid grey;
  display: flex;
}

@media(max-width:800px){
    .formStyle0{
        flex-direction: column;
    }
}

.formStyle1{
    padding-top: 20px;
    text-align: center;
}

.formStyle2{
    padding-top: 20px;
    text-align: center;
}


button {
  border:2px inset white;
  padding: 6px 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  color: gray;
  letter-spacing: .6px;
  text-transform: uppercase;
}

button:hover{
  opacity: .8;
}

button:focus{
  border:2px inset dodgerblue;
}

.item {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid rgb(252, 249, 249);
  letter-spacing: .6px;
  font-size: 30px;
}

.item > div {
  margin: 20px;
}

.msgError {
  position: fixed;
  top: 0;
  width: 300px;
  text-align: center;
  border: 2px solid #ce8776;
  padding: 4px 20px;
  color: rgb(192, 78, 78);
  background-color: rgb(235, 215, 215);
  letter-spacing: 0.6;
  z-index: 999;
}

.msg {
  position: fixed;
  top: 6px;
  border: 2px solid #98bed4;
  padding: 4px 10px;
  color: rgb(58, 118, 142);
  background-color: #cce1ec;
  letter-spacing: 0.2px;
  box-shadow: 90vh -862px 0px 100vh rgba(0,0,0, 1)!important;
  text-transform: uppercase;
  width: 50%;
}



.check {
  border-bottom: 1px solid white;
  padding-left: 5px;
  font-style: oblique;
  font-family: serif;
  font-weight: bold;
  color: rgb(77, 77, 114);
  letter-spacing: 0.6px;
  padding-bottom: 10px;
  margin-top: 70px;
}
/* --=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
[type="checkbox"]{
  margin-left: 10px;
} 

[type="text"]{
  margin-right: 8px;
} 

label{
 /*  padding-left:1.3em; */
  font-family: serif;
  font-style: italic;
  color:rgb(81, 103, 110);
  padding-left: 4px;
  margin-top: 20px;
} 

.active{
  opacity: .5;
  text-decoration: line-through;
}


.buttonClose{
  float: right;
  color: red;
  /* border: 1.4px solid red; */
 border: none;
  border-radius: 50%;
  /* background-color: transparent; */
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
 /*  font-size: 12.7px; */
 font-size: 12px;
  margin-left: 10px;
}

.dn{
  display: none;
}

.red{
  color: red;
}

.labelItemToggle{
  cursor: pointer;
}
.labelItemToggle:hover{
  opacity: .5;
}

.finder{
  margin-top: 38px;
}


[type="submit"]{
  background-color: royalblue;
  color: black;
  color: white;
  text-transform: uppercase;
}

[type="submit"]:hover{
   background-color: dodgerblue;
}







