html {
  font-family: Lato;
  letter-spacing: 0.6;
  user-select: none;
}
body {
  background-color: rgba(129, 128, 228, 0.276);
  padding: 50px;
  letter-spacing: 0.4;
}

[type="text"] {
  margin-bottom: 20px;
  padding: 8px;
  padding-left: 10px;
  border: hidden;
  letter-spacing: 1px;
  color: gray;
  width: 80%;
}

[type="text"]:focus{
  color: black;
}

[type="search"] {

  margin-bottom: 20px;
  padding: 8px;
  padding-left: 10px;
  border: hidden;
  letter-spacing: 1px;
  color: gray;
  width: 100%;
}



.formStyle0{
  margin-top: 50px;
  border: 1px solid grey;
  display: flex;
}


.formStyle1{
    padding-top: 20px;
    text-align: center;
}

.formStyle2{
    padding-top: 20px;
    text-align: center;
}


button {
  border:2px inset white;
  padding: 6px 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  color: gray;
  letter-spacing: .6px;
  text-transform: uppercase;
}

button:hover{
  opacity: .7;
}

button:focus{
  border:2px inset dodgerblue;
}

.item {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid rgb(252, 249, 249);
  letter-spacing: .6px;
  font-size: 30px;
}

.item > div {
  margin: 20px;
}

.msgError {
  position: fixed;
  top: 0;
  width: 300px;
  text-align: center;
  border: 2px solid #ce8776;
  padding: 4px 20px;
  color: rgb(192, 78, 78);
  background-color: rgb(235, 215, 215);
  letter-spacing: 0.6;
  z-index: 999;
}

.msg {
  position: fixed;
  top: 6px;
  left: 60px;
  border: 2px solid #98bed4;
  padding: 4px 10px;
  color: rgb(58, 118, 142);
  background-color: #cce1ec;
  letter-spacing: 0.2px;
/*  box-shadow: 90vh -862px 0px 100vh rgba(0,0,0, 1)!important;
  -webkit-box-shadow: 90vh -862px 0px 100vh rgba(0,0,0, 1)!important;
   -moz-box-shadow: 90vh -862px 0px 100vh rgba(0,0,0, 1)!important; 
   -o-box-shadow: 90vh -862px 0px 100vh rgba(0,0,0, 1)!important; 
   -ms-box-shadow: 90vh -862px 0px 100vh rgba(0,0,0, 1)!important;*/
  text-transform: uppercase;
  width: 50%;
}

.divSombra{
   position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 78px;
   background-color: rgba(0,0,0, 1);
}



.check {
  border-bottom: 1px solid white;
  padding-left: 5px;
  font-style: oblique;
  font-family: serif;
  font-weight: bold;
  color: rgb(77, 77, 114);
  letter-spacing: 0.6px;
  padding-bottom: 10px;
  margin-top: 70px;
}
/* --=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
[type="checkbox"]{
  margin-left: 10px;
} 


label{
 /*  padding-left:1.3em; */
  font-family: serif;
  font-style: italic;
  color:rgb(81, 103, 110);
  padding-left: 4px;
  margin-top: 20px;
} 

.active{
  opacity: .5;
  text-decoration: line-through;
}


.buttonClose{
  float: right;
  color: red;
  /* border: 1.4px solid red; */
 border: none;
  border-radius: 50%;
   background-color: transparent; 
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
 /*  font-size: 12.7px; */
 font-size: 12px;
  margin-left: 10px;
}

.dn{
  display: none;
}

.red{
  color: red;
}

.labelItemToggle{
  cursor: pointer;
}
.labelItemToggle:hover{
  opacity: .5;
}

.finder{
  margin-top: 38px;
}


[type="submit"]{
  background-color: royalblue;
  color: black;
  color: white;
  text-transform: uppercase;
}

[type="submit"]:hover{
   background-color: dodgerblue;
}



.inModal{
    position: fixed;
    top:0px;
    left: 0px;
    transition: .4s;
}

.outModal {
    position: fixed;
    top:0px;
    left: -150%;
    transition: .4s;
}

modal{
  width: 100%;
  background-color: gainsboro;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 99;
  text-align: center;
  padding: 0;
}

.modalContent{
    text-align: left;
    margin: 56px;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    background-color: rgba(129, 128, 228, 0.276);
}
.modalContent>div{
  width: 50%;
  padding: 20px 0;
}
.modalContent>div>p>span{
    font-weight: 100!important;
    color: gray;
    font-size: 22px;
    margin-left: 16px;
    letter-spacing: 0;
/*    font-family: serif;*/
}

.modalContent>div>p{
  margin: 0;
  margin-bottom: 10px;
  font-size: 30px;
/*  font-family: sans-serif;*/
}

modal>button{
    margin: 20px!important;
}

.btnCerrarModal{
    background-color: gainsboro;
    text-align: right;
    color: gray;
    border-radius: 0;
    border:1px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    margin: 0!important;
    border-bottom: 1px solid gray;
}

.btnCerrarModal:focus{
    border:1px solid transparent;
}


@media(max-width:800px){
    .formStyle0{
        flex-direction: column;
    }
    .msg {
      width: 80%;
      left: 28px;
      text-align: center;
    }
    body {
      padding: 10px;
      padding-top: 40px;
    }
    .modalContent{
      flex-direction: column;
      margin: 10px;
      margin-top: 28px;
    }
    .modalContent>div{
      width: 100%;
      padding-bottom: 0 ;
    }
    .modalContent>div:first-of-type{
      
    }

    .modalContent>div>p>span{
      font-size: 16px;
    }

    .modalContent>div>p{
      font-size: 24px;
    }

    modal>button{
        margin: 10px 20px!important;
    }
}






